body{
    background-color: #2A2A2A; 
}
header {
    background-color: black;
    color: white;
    padding: 20px 40px;
    text-align: center;
    font-size: 1em;
}
ul, ol {
    list-style: none;
}
.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.nav li a:hover {
    background-color: #808080;
}
.nav > li {
    float: left;
}
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul {
    display: block;
}
.nav li ul li {
    position: relative;
}
.nav li ul li ul {
    right: -140px;
    top: 0px;
}
table {     
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    
    margin: 45px;     
    width: 480px; 
    text-align: left;    
    border-collapse: collapse; }

th {     
    font-size: 13px;     
    font-weight: normal;     
    padding: 8px;     
    background: #18181B;
    border-top: 4px solid #323234;    
    border-bottom: 1px solid #323234; 
    color: #323234; }

td {    
    padding: 8px;     
    background: #323234;     
    border-bottom: 1px solid #323234;
    color: #BBAFA1;    
    border-top: 1px solid transparent; }

tr:hover td { 
    background: #18181B; 
    color: #BBAFA1; }

.cuadro1{
    width: 500px;
    height:400px;
}
table {
   width: 93%;
   text-align: center;
}
th, td {
   width: 25%;
}

footer{
    color: white;
    background-color: black;
    box-shadow: -1px -1px 6px black; 
    margin: 20px 20px;
    padding: -25px 5px;
    text-align: center;
}